.false {
	display: none;
}

.big {
	margin: 0px;
	padding: 0px;
}

.bigCardContainer {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
  cursor: pointer;
}

.bigFlexContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	border: 0.2rem solid #ffd700;
	border-radius: 1rem;
	color: #efefef;
	display: flex;
	background-color: #000000;
}

.side {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 75%;
	margin: 1%;
	padding: 1%;
	gap: 5%;
}

.bigServe,
.bigCategory {
	font-size: 0.7rem;
}

.bigDrinkImage {
	max-width: 75%;
	object-fit: contain;
	aspect-ratio: 1 / 1;
	border-radius: 10%;
	margin: 1%;
}

.bigIngredientList {
	margin: 1% auto;
}

.bigFlexContainer:hover {
  box-shadow: 0px 0px 0.7rem #efefef;
}